/*  your css code here. If applicable */
.container {
      width: 300px;
      margin: 50px auto;
      padding: 20px;
      border: 2px solid #000;
      border-radius: 15px;
      text-align: center;
      box-sizing: border-box;
    }

    .red,
    .green,
    .yellow {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      display: inline-block;
      margin: 5px;
    }

    .red {
      background-color: red;
    }

    .green {
      background-color: green;
    }

    .yellow {
      background-color: yellow;
    }